{% extends 'base.html.twig' %}

{% block title %}Offer{% endblock %}

{% block body %}
    <h1>Offer</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id Offer</th>
                <th>Description Offer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.idOffre }}</td>
                <td>{{ offre.descriptionOf }}</td>
                <td>
                    <a href="{{ path('app_offre_show', {'idOffre': offre.idOffre}) }}">view</a>
                    <a href="{{ path('app_offre_edit', {'idOffre': offre.idOffre}) }}">Modify</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Create new</a>
{% endblock %}
